.banners{

    &__swiper{
        position: relative;
        overflow: hidden;
        padding-top: 210px;
        margin-top: -210px;
    }

    &__container{
        max-width: 1560px;
        margin: 0 auto;
        width: 100%;
    }

    &__item{
        position: relative;
        z-index: 1;
        border-radius: 20px;
        margin: 0 auto;
        &::before{
            position: absolute;
            bottom: 0;
            top: -200px;    
            left:100px;
            width: 608px;
            background: 
            url('../img/legs.svg');
            content: '';
            background-repeat: no-repeat,no-repeat;
            background-position: -180px -140px;
            z-index: 1000;
            filter: drop-shadow(0px -20px 94.5px 0px #00000033);

            @media (max-width:1727px) {
                background: url('../img/legs2.svg');
                position: absolute;
                bottom: 0;
                top: 25px;
                left: 10px;
                width: 400px;
                z-index: 2000;
            }

            @media (max-width:767px) {
                background: transparent;
            }
        }

        @media (max-width:1727px) {
            border-radius: 0;
        }

        &::after{
            content: '';
            background-image: url('../img/slick.svg');
            background-repeat: no-repeat no-repeat;
            background-position: 0% 100%;
            position: absolute;
            bottom: 0;
            top: 25px;
            left: 0px;
            z-index: 999;
            width: 980px;

            @media (max-width:767px) {
                background-image: url('../img/slick2.svg');
                position: absolute;
                bottom: 0;
                top: 25px;
                z-index: 1000;
            }

            @media (min-width:768px) and (max-width:1727px) {
                background-image: url('../img/slick3.svg');
                position: absolute;
                bottom: 0;
                top: 25px;
                z-index: 1000;
            }
        }
    }

    &__catalog{
        @include clear-list;
        position: relative;
    }

    
    
    &__container--red{
        background-color: #DC4B54;
    }
    &__container--green{
        background-color: #179f0f;
    }
    &__container--blue{
        background-color: #4b83dc;
    }

    &__sneakers{
        img{
            width: 84px;
            height: 84px;
        }
    }

    &__article{
        font-size: 58px;
        line-height: 70.19px;
        font-weight: 500;
        color: #FFFFFF;
        max-width: 649px;
        text-align: left;
        margin: 0;


        @media (max-width:1727px) {
            text-align: center;
            max-width: 768px;
            position: relative;
            z-index: 100000000;
            line-height: 1.5;
        }

        @media (max-width:767px) {
            font-size: 24px;
            line-height: 39.05px;
            text-align: center;
            margin: 0 auto;
            width: 321px;
        }
    }

    &__button{
        @include clear-button;
        margin-left: auto;
        width: 219px;
        height: 66px;
        background-color: #fff;
        color: #DC4B54;
        font-size: 28px;
        line-height: 33.89px;
        font-weight: 700;
        margin-top: 43px;
        cursor: pointer;

        @media (max-width:1727px) {
            display: flex;
            margin: 0 auto;
            text-align: center;
            justify-content: center;
            align-items: center;
            margin-top: 81px;
        }

        @media (max-width:767px) {
            width: 300px;
            height: 48px;
        }
    }

    &__info{
        max-width: 737px;
        padding-top: 88px;
        padding-bottom: 120px;
        margin-left: auto;

        @media (max-width:1727px) {
            margin: 0 auto;
        }

        @media (max-width:767px) {
            padding: 55px 0px;
            margin: 0;
        }
        
    }

    &__sneakers-wrapper{
        display: flex;
        gap: 30px;
        margin: 0 auto;
        margin-top: 39px;

        @media (max-width:1727px) {
            justify-content: center;
            align-items: center;
        }

        @media (max-width:767px) {
            gap: 35px;
        }

    }

    &__sneakers{
        width: 71px;
        height: 71px;
        background-color: #fff;
        border-radius: 8px;

        img{
            transform: rotate(-15deg) translateY(-13px) translateX(-3px);
        }
    }

    &__pagination--buttons{
        display: flex;
        gap: 20px;
        justify-content: flex-end;
        padding-bottom: 20px;
        padding-right: 20px;

        @media (max-width:767px) {
            justify-content: center;
        }
    }

    &__pagination{
        width: 11px;
        height: 11px;
        border-radius: 50%;
        background-color: #fff;
        transition: width 0.5s;

        &--big{
            width: 30px;
            height: 11px;
            border-radius: 6px;
            background-color: #fff;
        }
    }

    &__arrow{
        @include clear-button;
        background-image: url('../img/arrow-left.svg');
        background-repeat: no-repeat no-repeat;
        position: absolute;
        top: 63%;
        transform: translateY(-50%);
        z-index: 20000;
        width: 20px;
        height: 20px;
        
        &--left{
            right: auto;
            left: 30px;

            @media (max-width:767px) {
                display: none;
            }
        }

        &--right{
            left: auto;
            right: 30px;
            transform: rotate(180deg);

            @media (max-width:767px) {
                display: none;
            }
        }
    }
}