.reviews{
    &__container{
        max-width: 1728px;
        margin: 0 auto;
    }

    &__title{
        font-weight: 500;
        font-size: 45px;
        line-height: 62.15px;
        color: #000000;
        text-align: center;

        &::before{
            content: '';
            width: 41px;
            height: 3px;
            background-color: #000000;
            display: inline-block;
            transform: translateY(-13px);
            margin-right: 22px;
        }
        &::after{
            content: '';
            width: 41px;
            height: 3px;
            background: #000;
            display: inline-block;
            transform: translateY(-13px);
            margin-left: 22px;
        }

        @media (max-width:768px) {
            font-size: 32px;
        }

        span{
            @media (max-width:768px) {
                display: none;
            }
        }
    }

    &__cards{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
        gap: 68px;
        @media (max-width:1727px) {
            gap: 20px;
            flex-direction: column;
        }
    }

    &__item{
        border: 2px solid #DEDEDE;
        background-color: #F3F3F3;
        border-radius: 25px;
        padding: 78px 70px;
        @media (max-width:767px) {
            width: 300px;
            padding: 20px 25px;
        }
        @media (min-width: 728px) and (max-width:1727px) {
            max-width: 728px;
        }
    }

    &__name{
        font-weight: 500;
        font-size: 28px;
        line-height: 38.67px;
        color: #000000;

    }

    &__text1{
        font-size: 18px;
        line-height: 24.86px;
        color: #000000BF;
        width: 422px;
        margin-top: 10px;

        @media (max-width:767px) {
            display: none;
        }
    }
    &__text2{
        font-size: 18px;
        line-height: 24.86px;
        color: #000000BF;
        width: 422px;

        @media (max-width:767px) {
            text-align: left;
            width: 250px;
            margin-top: 20px;
        }

        @media (min-width:768px) {
            display: none;
        }
    }

    &__info{
        margin-left: 54px;
        align-self: center;
        @media (max-width:767px) {
            margin-left: 19px;
            align-self: flex-start;
        }
        
    }

    &__rate1{
        background-image: url('../img/star.png');
        max-width: 85px;
        height: 19px;
        background-repeat: repeat-x;
        
    }


    &__rate2{
        background-image: url('../img/star.png');
        max-width: 66px;
        height: 19px;
        background-repeat: repeat-x;
        
    }
    

    &__image{
        img{
            @media (max-width:767px) {
                width: 54px;
                height: 75px;
            }
        }
    }


    &__compound{
        display: flex;
    }

}