.social{
    @include clear-list;
    display: flex;
    justify-content: end;

    &__item{
        color: black;
        padding: 15px 20px 20px;
    }

    &__tg{
        width: 21px;
        height: 18px;
    }

    &__vk{
        width: 24px;
        height: 14px;
    }
}


